/* Search Bar */
.jumbotron {
	padding-top: 30px ;
	padding-bottom: 30px ;
}

/* Search Results Page */
.movie-search-info {
	max-width: 1000px;
}

#movies .col-md-4 {
	margin: 100px 0 100px;
/*	max-height: 600px;*/
	box-sizing: border-box;
}

#movies .well {
	height: 100%;
	position: relative;
	border: 1px solid #999;
	border-radius: 10px;
	box-sizing: content-box;
	padding-bottom: 25px;
	background-color: rgba(44, 44, 44, .6);
}

#movies img {
	border-radius: 10px 10px 0 0;
}

#movies img {
	width: 100%;
	height: 88%;
}

#movies div.details {
	height: 12%;
	margin-bottom: 50px;
}

#movies h5 {
	height: 90%;
	padding: 15px 5px 0px;
	margin: 0;
	font-size: 1.1rem;
	box-sizing: content-box;
}

#movies p.details-btn {
	text-align: center;
	width: 100%;
/*	height: 3em;*/
	margin: 0;
/*	padding: 11px;*/
}

#movies p.details-btn a.btn {
/*	height: 80%;*/
	border-radius: 5px;
/*
		position: absolute;
		top: 70%;
*/
}

/* Movie Info Display Page */
.movie-info {
	max-width: 1200px;
}

#movie .col-sm-6 {
	padding-top: 47px;
}

#movie img {
/*	height: 442px;*/
	width: 100%;
}

#movie ul li {
	text-align: right;
}

#movie ul li strong {
	color: #222;
	float: left;
}

@media only screen and (min-width: 768px) {
	#movies .col-md-4 {
		max-height: 400px;
	}
	
	#movies .well {
/*		box-sizing: border-box;*/
	}
	
	#movies img {
/*		height: 255px;*/
		height: 80%;
	}
	
	#movies div.details {
/*		box-sizing: content-box;*/
		height: 20%;
	}
	
	#movies p.details-btn {
/*
		position: absolute;
		top: 70%;
*/
/*
		bottom: 0;
		left: 0;
		opacity: .9;
*/
/*		background-color: rgba(44, 44, 44, .6);*/
	}
	
	#movie .col-md-4 {
/*		padding-top: 47px;*/
	}
	
	#movie img {
/*		height: 443px;*/
	}
	
	#movie .col-md-8 {
		padding-top: 38px;
	}
	
}

@media only screen and (min-width: 960px) {
	#movies .col-md-4 {
/*		min-height: 450px;*/
/*		height: 100%;*/
	}

	#movies .col-md-4 img {
/*		height: 240px;*/
/*		height: 285px;*/
	}
}

@media only screen and (min-width: 1200px) {
	#movies .col-md-4 {
/*		min-height: 500px;*/
	}
	
	#movies img {
/*		height: 455px;*/
	}
}