body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font : {
		size: 100%;
		family: Ariel, sans-serif;
	}
//	position: relative;
}

h2 {
	height: 100%;
//	margin: 0 auto;
	padding:  15px 0 15px 7px; // 5.4%;
	color: lighten($blue, 20%);

	@include break(768px) {
		width: 100%;
	}
	
}

ul {
	list-style: none;
	padding-left: 0;
}