nav {
	
	h2 {
		display: inline-block;
		
		@include break(768px) {
			display: block;
		}
		
		.brand-logo {
			& > a:hover {
				text-decoration: none;
			}
		}
	}
	
	.nav-item:first-of-type {
		> a.nav-link:hover {
			color: #DF691A;
		}
	}
	
	.nav-item:last-of-type {
		.nav-link {
			margin-left: 0 !important;	
			
			@include break(768px) {
				margin-left: 1rem !important;
			}
		}
		
	}
	
	
	
}


form {
	max-width: 800px;
	margin: 0 auto;
}

/* Search Bar */
.jumbotron {
	padding-top: 20px ;
	padding-bottom: 20px ;
}



