@keyframes loading-dot1 {
	0% {
		opacity: 0;
	}
	
	25% {
		opacity: 1;
	}
}

@keyframes loading-dot2 {
	0% {
		opacity: 0;
	}
	
	25% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
}

@keyframes loading-dot3 {
	0% {
		opacity: 0;
	}
	
	25% {
		opacity: 0;
	}
	
	50% {
		opacity: 0;
	}
	
	75% {
		opacity: 1;
	}
}
